body {
  background-color: #7fdbda;
  font-family: monaco, Consolas, Lucida Console, monospace;
}

.content {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-image: url("~/assets/images/trees.png");
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  padding: 15px 25px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #ade498;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #8e8e8e;
  width: 15rem;
  margin: 2rem;
}

.btn:hover {
  background-color: #81c765;
}

.btn:active {
  background-color: #81c765;
  box-shadow: 0 5px #7b7777;
  transform: translateY(4px);
}

.login-form {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.login-form input {
  margin-bottom: 2em;
  background-color: #ede682;
  box-shadow: 4px 6px #a2a0a0;
}

.bg-game {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 110%;
  background-image: url("~/assets/images/map.png");
}

.text-box {
  width: 40em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #ede682;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #9fabb1;
  padding: 5rem 0;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.text-box-title {
  font-size: 3rem;
}

.text-box-info {
  width: 15rem;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

@media only screen and (max-width: 1200px) {
  .bg-game {
    background-size: contain;
    background-position: top left;
  }
}
